<p-card>
  <p-fileUpload mode="advanced" chooseLabel="Choose" name="files" [multiple]="true"
                url="/api/v1/files/upload"
                accept=".log, .txt, .zip" (onUpload)="onUpload($event)">

    <ng-template pTemplate="content">
      <ul>
        <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
      </ul>
      <div class="text">
        <h4>Drag & drop log files or paste (TBD)</h4>
        <div>
          <textarea style="width: 100%; height: 50vh; border-color: lightgray"></textarea>
        </div>
      </div>
    </ng-template>
  </p-fileUpload>
</p-card>
